<mat-card>

  <button mat-mini-fab color="basic" aria-label="Close card" class="close-icon">
    <mat-icon>close</mat-icon>
  </button>

  <mat-card-subtitle>{{title}}</mat-card-subtitle>

  <mat-card-content>

    <mat-form-field appearance="standard">
      <mat-label>Select {{typeName}}...</mat-label>
      <mat-select name="element" [(ngModel)]="selectedElement">
        <mat-option *ngFor="let element of options" [value]="element.value">
          {{element.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <p>Selected {{typeName}}: {{selectedElement}}</p>

  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button>Clear</button>
    <button mat-button>Reload</button>
  </mat-card-actions>

  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>

</mat-card>

